body {
	background-color: #FFFFFF;
	color: #555555;
	-webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

body.body-bg-dark {
	background-color: #000000;
	color: #EEEEEE;
	-webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

.pal-logo {
	float: left;
}

.square {
	float: left;
    background: #000;
    width: 5vh;
    height: 5vh;
}

.square p {
    color: #fff;
	font-size: 8pt;
}

.palette-form-btn {
	float: right;
	font-size: 8pt;
	margin-top: 1px;
}

.palette-row {
	margin-top: 0.5em;
	margin-left: 0.1em;
}

.palette-header {
	font-size: 10pt;
	margin-bottom: 0;
}

#palettes {
	margin-top: 1em;
}

#logo {
	margin-top: 0.5em;
	margin-right: 0.5em;
}
